/* ------------------------------------------------------------------------------------------------------
* Flexbox Default definition
* ------------------------------------------------------------------------------------------------------ */ 
@mixin flexbox() {
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}
/* ------------------------------------------------------------------------------------------------------
* Flexbox with value
* ------------------------------------------------------------------------------------------------------ */ 
@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}
/* ------------------------------------------------------------------------------------------------------
* Flexbox content direction
* ------------------------------------------------------------------------------------------------------ */ 
@mixin flexdirection($value) {
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}
/* ------------------------------------------------------------------------------------------------------
* Flexbox content
* ------------------------------------------------------------------------------------------------------ */ 
@mixin justifycontent ($val) {
    -webkit-box-pack: $val;
    -moz-box-pack: $val;
    -ms-flex-pack: $val;
    -webkit-justify-content: $val;
    justify-content: $val;
}

/* ------------------------------------------------------------------------------------------------------
* Links mixin
* ------------------------------------------------------------------------------------------------------ */ 
@mixin link-colors ($link, $visited, $hover, $active) {
    a {
        color: $link;
        text-decoration: none;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}


