@import "_mixins";


body{
    font-family: Open Sans, sans-serif;    
}
h1 {
    text-align: center;
}
aside {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
}
button {
    margin: 5px;
    padding: 5px;
}
main {
    display: flex;
    height: auto;
    margin: 10px;
}
.payments_holder {
    @include flexbox();
    @include flexdirection(column);
    width: 100%;
    margin-top: 5px;
    margin-left: 1em;
}
.row {
	@include flexbox();
    @include flexdirection(row);
    align-items: center; 
    box-shadow: -1px -1px #ccc, inset -1px -1px 0 0 #ccc;

    &.title  {
        font-weight: bold;
        padding: 2em 1em;
    }

    > div {   
        flex: 1 130%;
        color: #094165;
        height: auto;
        padding: .5em 1em;
    }
}

.submit_form {
    
}